<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform
      processPath="%JAVA_HOME%\bin\java.exe"
      arguments="-Dserver.port=%HTTP_PLATFORM_PORT% -Djava.net.preferIPv4Stack=true -jar &quot;%HOME%\site\wwwroot\app.jar&quot;"
      stdoutLogEnabled="true"
      stdoutLogFile="%HOME%\LogFiles\java"
      startupTimeLimit="240"
      requestTimeout="00:10:00" />
  </system.webServer>
</configuration>
